.FlipTimeClock {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* .FlipTimeClock .M-Flipper {
  margin: 0 20px;
} */

.FlipTimeClock .M-Flipper {
  display: inline-block;
  position: relative;
  width: 6.88vw;
  height: 11.4vw;
  line-height: 11.4vw;
  /* border: solid 1px #FFFFFF0D; */
  border-radius: 6px;
  background: #171500;
  font-size: 8.3vw;
  color: #ffea00;
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); */
  text-align: center;
}

@media (max-width: 768px) {
  .FlipTimeClock .M-Flipper {
    font-size: 16vw;
    width: 15.5vw;
    height: 21.8vw;
    line-height: 21.8vw; 
  }
  
}

.FlipTimeClock .M-Flipper .digital:before,
.FlipTimeClock .M-Flipper .digital:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background: #171500;
  overflow: hidden;
  box-sizing: border-box;
}

.FlipTimeClock .M-Flipper .digital:before {
  top: 0;
  bottom: 50%;
  border-radius: 6px 6px 0 0;
  /* border-bottom: solid 1px #999; */
}

.FlipTimeClock .M-Flipper .digital:after {
  top: 50%;
  bottom: 0;
  border-radius: 0 0 6px 6px;
  line-height: 0;
}

/*向下翻*/
.FlipTimeClock .M-Flipper.down .front:before {
  z-index: 3;
}

.FlipTimeClock .M-Flipper.down .back:after {
  z-index: 2;
  transform-origin: 50% 0%;
  transform: perspective(160px) rotateX(180deg);
}

.FlipTimeClock .M-Flipper.down .front:after,
.FlipTimeClock .M-Flipper.down .back:before {
  z-index: 1;
}

.FlipTimeClock .M-Flipper.down.go .front:before {
  transform-origin: 50% 100%;
  animation: frontFlipDown 0.6s ease-in-out both;
  box-shadow: 0 -2px 6px rgba(255, 255, 255, 0.3);
  backface-visibility: hidden;
}

.FlipTimeClock .M-Flipper.down.go .back:after {
  animation: backFlipDown 0.6s ease-in-out both;
}

/*向上翻*/
.FlipTimeClock .M-Flipper.up .front:after {
  z-index: 3;
}

.FlipTimeClock .M-Flipper.up .back:before {
  z-index: 2;
  transform-origin: 50% 100%;
  transform: perspective(160px) rotateX(-180deg);
}

.FlipTimeClock .M-Flipper.up .front:before,
.FlipTimeClock .M-Flipper.up .back:after {
  z-index: 1;
}

.FlipTimeClock .M-Flipper.up.go .front:after {
  transform-origin: 50% 0;
  animation: frontFlipUp 0.6s ease-in-out both;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.3);
  backface-visibility: hidden;
}

.FlipTimeClock .M-Flipper.up.go .back:before {
  animation: backFlipUp 0.6s ease-in-out both;
}

@keyframes frontFlipDown {
  0% {
    transform: perspective(160px) rotateX(0deg);
  }

  100% {
    transform: perspective(160px) rotateX(-180deg);
  }
}

@keyframes backFlipDown {
  0% {
    transform: perspective(160px) rotateX(180deg);
  }

  100% {
    transform: perspective(160px) rotateX(0deg);
  }
}

@keyframes frontFlipUp {
  0% {
    transform: perspective(160px) rotateX(0deg);
  }

  100% {
    transform: perspective(160px) rotateX(180deg);
  }
}

@keyframes backFlipUp {
  0% {
    transform: perspective(160px) rotateX(-180deg);
  }

  100% {
    transform: perspective(160px) rotateX(0deg);
  }
}

.FlipTimeClock .M-Flipper .number0:before,
.FlipTimeClock .M-Flipper .number0:after {
  content: "0";
}

.FlipTimeClock .M-Flipper .number1:before,
.FlipTimeClock .M-Flipper .number1:after {
  content: "1";
}

.FlipTimeClock .M-Flipper .number2:before,
.FlipTimeClock .M-Flipper .number2:after {
  content: "2";
}

.FlipTimeClock .M-Flipper .number3:before,
.FlipTimeClock .M-Flipper .number3:after {
  content: "3";
}

.FlipTimeClock .M-Flipper .number4:before,
.FlipTimeClock .M-Flipper .number4:after {
  content: "4";
}

.FlipTimeClock .M-Flipper .number5:before,
.FlipTimeClock .M-Flipper .number5:after {
  content: "5";
}

.FlipTimeClock .M-Flipper .number6:before,
.FlipTimeClock .M-Flipper .number6:after {
  content: "6";
}

.FlipTimeClock .M-Flipper .number7:before,
.FlipTimeClock .M-Flipper .number7:after {
  content: "7";
}

.FlipTimeClock .M-Flipper .number8:before,
.FlipTimeClock .M-Flipper .number8:after {
  content: "8";
}

.FlipTimeClock .M-Flipper .number9:before,
.FlipTimeClock .M-Flipper .number9:after {
  content: "9";
}
